body {
    font-family: 'Noto Sans TC',sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto',sans-serif;
    color: #2b3e50;
}

.navbar{
  background-color: #4894dd;
}


.page-container {
  min-height: calc(100vh - 130px);
}


.color-picker{
  width: 50px;
  height: 50px;
  margin-right:10px;
  margin-bottom:10px;
  display: inline-block;
}

.color-picker:hover, .color-selected{
  border-radius: 2px;
  border-color: white;
  border-style: solid;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.05);
}

#color-picker-1{
  background-color:#f77d13;
}

#color-picker-2{
  background-color:#ffcc00;
}

#color-picker-3{
  background-color:#e82020;
}

#color-picker-4{
  background-color:#2dcc71;
}

#color-picker-5{
  background-color:#9c58b6;
}

#color-picker-6{
  background-color:#4894dd;
}

#color-picker-7{
  background-color:#c45e00;
}

#color-picker-8{
  background-color:#f39c13;
}

#color-picker-9{
  background-color:#c92b1a;
}

#color-picker-10{
  background-color:#179f85;
}

#color-picker-11{
  background-color:#7f14ad;
}

#color-picker-12{
  background-color:#2880ba;
}

.team-profile-icon{
  width:50px;
}

.one-pic{
  position: relative;
  display: inline-block;
}

.pics{
  display: inline-block;
  float: left;
}

.delete-circle{
  position: absolute;
  width: 20px;
  height: 20px;
  left: 35px;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.delete-circle.showing{
  opacity: 1;
}

.team-profile-add-managers, .team-profile-add-developers{
  width:50px;
  height:50px;
  padding: 10px;
  border-radius: 100px;
  background-color: #f77d13;
  -webkit-transition: border-radius 0.2s, width 0.5s;
  transition: border-radius 0.2s, width 0.5s;
  color: white;
  text-align: center;
}

.team-profile-add-managers::placeholder, .team-profile-add-developers::placeholder{
  color: white;
  font-size: 20px;
  font-weight: 900;
}

textarea, input{
    border: none;
}

@media (max-width: 1000px){
  .create {
    padding: 0.75em 0.5em !important;
  }

  .dashboard-title {
      font-size: 2em;
  }

  input.project-name {
    width: 14em;
  }

  .color-picker{
    width: 35px;
    height: 35px;
  }

  .color-picker:hover, .color-selected{
    border-width: 1.5px;
  }
}

div.results{
  z-index: 1000;
}


.color-box{
  padding-top: 0.5em;
}

.color-title{
  font-size: 1.2em;
  padding-left: 1em;
}

.team-title{
  margin-bottom: 0em;
}

.hidden{
  display: none;
}

.man-title{
  font-size: 0.8em;
  margin-bottom: 0em;
}

.dev-title{
  font-size: 0.8em;
  margin-bottom: 0em;
}

.results {
  width: 300px;
  border: 0.5px solid #c0c0c0;
  background-color: white;
  border-radius: 5px;
  color: #495057;
  position:absolute;
}

.results .item {
	padding: 10px;
	border-bottom: 1px solid #c0c0c0;
}
