body {
    font-family: 'Noto Sans TC',sans-serif;
    background-color: #F5F5F5;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto',sans-serif;
    color: #2b3e50;
}

.card-body h5{
  color: white;
}

.info-icon{
  display: block;
}

.navbar {
  background-color: #4894dd;
}

.projects{
  min-height: calc(100vh - 130px);
}

.project-card h5{
  position:absolute;
  bottom:5px;
  left:10px;
}

.project-card{
  display:inline-block;
  width:12rem;
  height:8rem;
}

@media(max-width: 768px){

    .project-card{
      display:inline-block;
      width:6rem;
      height:4rem;
    }

    .project-card h5{
      font-size: 0.75em;
      bottom:0px;
      left:5px;
    }
}


.popover__icon {
  font-size: 24px;
  line-height: 36px;
  text-decoration: none;
  color: rgb(228, 68, 68);
  text-align: center;
  padding: 15px 0;
}

.popover__wrapper {
  position: relative;
  display: inline-block;
}
.popover__content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  border-radius: 5px;
  left: -150px;
  right: 0;
  transform: translate(75px, 30px);
  background-color: #4894dd;
  padding: 0.5em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  width: auto;
}
.popover__content:before {
  position: absolute;
  z-index: -1;
  content: "";
  right: calc(50% - 10px);
  top: -8px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #4894dd transparent;
  transition-duration: 0.3s;
  transition-property: transform;
}
.popover__wrapper:hover .popover__content {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transform: translate(75px, 7px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
.popover__message {
  text-align: center;
  color: white;
}
