body {
    font-family: 'Noto Sans TC',sans-serif;
    background-color: #F5F5F5;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto',sans-serif;
    color: #2b3e50;
}

.navbar {
    background-color: #4894dd;
}

.btn-primary {
    border: 0px;
    background-color: #4894dd;
}

.btn-primary:hover {
    border-color: white;
    background-color: #4894dd;
}

.btn-secondary {
    background-color: white;
    color: #4894dd;
    border-color: white;
}

.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus, .btn-secondary:visited {
    background-color: #4894dd !important;
    border-color: white;
    color: white;
}

.page-content{
    min-height: calc(100vh - 130px);
  }

.logo-container{
    text-align: center;
}

.workpad-logo {
    width: 700px;
    max-width: 100%;
    height: auto;
}

.workpad-homepage {
    display: block;
    max-width: 100%;
    height: auto;
}

.motivation {
    font-size: 1.5em;
}
.motivation h4 {
    font-weight: 300;
}

.dropdown-toggle::after {
    display:none;
}

.notify-action-button{
    cursor: pointer;
}

@media (max-width: 768px){
    .second-section{
        display:block !important;
    }
    .dropdown-menu {
        font-size: 0.9em;
        width: 400px !important;
    }
}

@media (max-width: 576px) {
    .dropdown-item{
      /* display: none; */
    }

    .notify-action-button.check{
      position:absolute;
      right: 30px;
    }

    .notify-action-button.deny{
      position:absolute;
      right: 10px;
    }

    .motivation {
        font-size: 1.1em;
    }
    .second-container {
        text-align: center;
    }
    .center-group .user-name{
        display: none;
    }
    .dropdown-menu {
        font-size: 0.75em;
        width: 320px !important;
    }
    .notify-action-button {
        min-width: 15px;
    }
}

.notify-action-button{
  max-width: 25px;
}

@media (max-width: 390px) {
    .center-group img {
        width: 35px !important;
    }
    .dropdown-menu {
        font-size: 0.6em;
        width: 280px !important;
    }
    .notify-action-button {
        width: 30px !important;
    }
}

.modal-footer{
    border: 0px;
}
