:root{
    --orange: #F39C13;
    --dark_orange: #F77D13;
    --white: white;
    --black: black;
    --blue: #4894DD;
    --dark_blue: #21618C;
    --darkest_blue: #34495E;
    --darkest_dark_blue: #2B3E50;
    --darkest_grey: #576161;
    --dark_grey: #848C8C;
    --grey: #A5ABAB;
    --other_grey: #C6BCBC;
}

body {
    font-family: 'Noto Sans TC',sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto',sans-serif;
}

/* The navigation bar */
.navbar {
    background-color: var(--blue);
}

.btn-primary {
    background-color: var(--blue);
    border-color: var(--blue);
}

.btn-primary:hover{
    background-color: var(--darkest_blue);
    border-color: var(--darkest_blue);
}

.page-container {
    min-height: calc(100vh - 130px);
}

/* TITLE LINE, TEXT AND BUTTONS */

.title-orange-line{
    background-color: var(--orange);
}

.title-line{
    border-color: var(--white);
}

.title-box{
    padding: 1.5em 0;
    text-align: left;
    font-weight: bold;
}

.title-buttons{
    padding: 1.2em 0;
}

/* Task Lists */

.task-list-block{
    margin: 1em;
    /*min-width: 910px;*/
}

.list-col{
    padding: 1em;
    margin: 1em;
    background-color: var(--blue);
    border-radius: 0.5em;
}

.list-col-title{
    text-align: left;
    font-weight: bold;
    padding: 0 0 0.5em 0;
}

.task-sel{
    background-color: var(--white);
    color: var(--black);
    margin: 0.2em 0;
    border-radius: 0.5em !important;
    border-color: var(--blue);
    padding: 0.3em 3em 0.3em 0.5em;
    text-align: left;
    box-shadow: none !important;
}

.task-sel:hover{
    background-color: var(--darkest_blue);
    color: white;
    border-color: var(--blue);
}

.task-edit-button-group{
    width: 100%;
}

.task-edit-button{
    background-color: var(--dark_grey);
    margin: 0.2em 0;
    border-radius: 0.5em !important;
    border-color: var(--dark_grey);
    color: var(--white);
    padding: 0.3em 3em 0.3em 0.5em;
    text-align: left;
    box-shadow: none !important;
}

.task-edit-button:hover{
    background-color: var(--darkest_grey);
    border-color: var(--darkest_grey);
}

.task-edit-description{
    width: 100%;
}

.task-check-icon{
    width: 2em;
    margin-right: 1em;
}

.task-edit-top-title{
    font-weight: bold;
    padding-right: 1em;
}

/* Forum */

.forum-comment-name{
    font-size: 150%;
}

.forum-comment-date{
    font-size: 150%;
}

.forum-comment-box{
    margin: 1em 0;
}


/* Settings menu */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


/* Footer */

footer {
    background-color: var(--blue);
    color: var(--white);
    
}

.workpad-copyright{
  font-weight: 900;
  font-size: 1em;
}

.footer-link{
  color: var(--white);
}

.task-edit-desc-svg, .task-edit-check-svg, .task-edit-comm-svg{
    max-width: 3em;
}

.task-edit-prog-bar{
    margin-bottom: 1em;
}

.task-edit-comm-row{
    margin-top: 1em;
}

.tasks-text{
    margin-top: 0.2em;
}

@media (max-width: 768px) {
    .res-text{
        font-size: 0.8em;
    }
    .task-sel{
        font-size: 0.8em;
    }
    .title-box{
        font-size: 0.9em;
        margin-top: 0.4em;
    }
    .selection-button{
        font-size: 0.9em;
    }
    .tasks-text{
        margin-top: 0.5em;
    }
}


@media (max-width: 576px) {
    .res-text{
        font-size: 0.8em;
    }
    .task-sel{
        font-size: 0.7em;
    }
    .task-edit-desc-row, .task-edit-check-row, .task-edit-comm-row{
        margin-bottom: 1em;
    }
    .task-edit-top{
        margin-bottom: 1em;
    }
    .title-box{
        font-size: 0.8em;
        margin-top: 0.7em;
        margin-left: 0.4em;
    }
    .title-buttons{
        margin-top: 0.2em
    }
    .selection-button{
        font-size: 0.7em;
    }
}



