:root{
    --orange: rgb(243, 156, 19);
    --dark_orange: rgb(243, 106, 19);
    --white: white;
    --black: black;
    --grey: grey;
    --dark_grey: rgb(117, 116, 116);
}


/* TITLE LINE, TEXT AND BUTTONS */

.title-orange-line{
    background-color: var(--orange);
}

.title-line{
    border-color: white;
}

.title-box{
    padding: 1.5em 0;
    text-align: left;
    font-weight: bold;
}

.title-buttons{
    padding: 1.2em 0;
}



/* Task Lists */

.task-list-block{
    margin: 1em;
    min-width: 910px;
}

.list-col{
    padding: 1em;
    margin: 1em;
    background-color: rgb(231, 231, 231);
    border-radius: 0.5em;
}

.list-col-title{
    text-align: left;
    font-weight: bold;
    padding: 0 0 0.5em 0;
}

.task-sel{
    background-color: var(--orange);
    margin: 0.2em 0;
    border-radius: 0.5em !important;
    border-color: var(--orange);
    color: var(--white);
    padding: 0.3em 3em 0.3em 0.5em;
    text-align: left;
    box-shadow: none !important;
}

.task-sel:hover{
    background-color: var(--dark_orange);
    border-color: var(--orange);
}

.task-edit-side{
    border-left: 0.1em solid var(--black);
}

.task-edit-desc-row{
    border-top: 0.1em solid var(--black)
}

.task-edit-button-group{
    width: 100%;
}

.task-edit-button{
    background-color: var(--dark_grey);
    margin: 0.2em 0;
    border-radius: 0.5em !important;
    border-color: var(--dark_grey);
    color: var(--white);
    padding: 0.3em 3em 0.3em 0.5em;
    text-align: left;
    box-shadow: none !important;
}

.task-edit-button:hover{
    background-color: var(--grey);
    border-color: var(--grey);
}

.task-edit-description{
    width: 100%;
}

.rounded-circle{
    border: 0.1em solid var(--black);
}

/* Forum */

.forum-comment-name{
    font-size: 150%;
    /*padding: 0.2em 2em 0.2em 0;*/
}

.forum-comment-date{
    font-size: 150%;
    /*padding: 0.2em 0.5em;*/
}

.forum-comment-box{
    margin: 1em 0;
}
