body {
    font-family: 'Noto Sans TC',sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto',sans-serif;
}

.navbar {
    background-color: #4894dd;
}

.btn-primary {
    border: 0px;
    background-color: #4894dd;
}

.btn-primary:hover {
    border-color: white;
    background-color: #4894dd;
}

.btn-secondary {
    background-color: white;
    color: #4894dd;
    border-color: white;
}

.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus, .btn-secondary:visited {
    background-color: #4894dd !important;
    border-color: white;
    color: white;
}

.page-content{
    min-height: calc(100vh - 130px);
  }

.logo-container{
    text-align: center;
}

.workpad-logo {
    width: 700px;
    max-width: 100%;
    height: auto;
}

.workpad-homepage {
    display: block;
    max-width: 100%;
    height: auto;
}

.motivation {
    font-size: 1.5em;
}

@media (max-width: 576px) {
    .motivation {
        font-size: 1.1em;
    }
    .second-container {
        text-align: center;
    }
}

@media (max-width: 768px){
    .second-section{
        display:block !important;
    }
}

.modal-footer{
    border: 0px;
}