.btn-primary {
    border: 0px;
}

.btn-primary:hover {
    border-color: white;
    background-color: #007bff;
}

.btn-secondary {
    background-color: white;
    color: #007bff;
    border-color: white;
}

.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus, .btn-secondary:visited {
    background-color: #007bff !important;
    border-color: white;
    color: white;
}

.workpad-logo {
    display: block;
    max-width: 100%;
    height: auto;
}

.motivation {
    font-size: 20px;
}

.page-footer {
    background-color: #007bff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    font-weight: bold;
}

.page-footer div{
    display:inline-block;
}