body {
    font-family: 'Noto Sans TC',sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto',sans-serif;
}

.navbar{
  background-color: #4894dd;
  min-width:328px;
}

.profile-block{
    background-color: #4894dd;
    border-radius: 15px;
    /* width: 50%; */
}

.profile-bottom{
    padding-inline-start: 2em;
}

.profile-text{
    text-align: left;
}

.profile-title > p {
    font-weight: bolder;
    font-size: 1.5em;
}

.profile-area {
    color:white;
    height:auto;
}

.profile-image{
    padding-left: 2em;
}

.profile-strap-space{
  height: 2em;
}

.profile-strap img{
  position:absolute;
  top:0;
  width: 84px;
}

.image-canvas{
    border-color:white;
    border: 3px solid white;
    min-width: 130px;

}

@media(max-width: 768px){
    .profile-tag{
        padding-left: 2em;
    }
    .profile-location{
        padding-left: 2em;
    }
    .profile-brief{
        padding-left: 2em;
    }
}

.profile-icon{
  width: 20px;
  filter: invert(100%) sepia(0%) saturate(7487%) hue-rotate(292deg) brightness(107%) contrast(105%);
}

footer {
    background-color: #4894dd;
    color: white;
}

.workpad-copyright{
  font-weight: 900;
  font-size: 1em;
}

.footer-link{
  color: white;
}
