body {
    font-family: 'Noto Sans TC',sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto',sans-serif;
}

.profile-block{
    background-color: #298FCA;
    border-radius: 15px;

}

.profile-bottom{
    padding-inline-start: 2em;
}

.profile-text{
    text-align: left;
}

.profile-title > p {
    font-weight: bolder;
    font-size: 1.5em;
}

.profile-area {
    color:white;
    min-width: 485px;
}

.profile-image{
    padding-left: 2em;
}

.image-canvas{
    border-color:white;
    border: 3px solid white;
    
}