body {
    font-family: 'Noto Sans TC',sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto',sans-serif;
}

.navbar {
    background-color: #4894dd;
}

body {
    background-color: #F5F5F5;
}

form  {
    width: 75%;  
}

.register-block{
    min-width: 411px;
}

.navbar{
    min-width: 411px;
}

@media(max-width: 768px){
    .body {
        font-size:0.1em;
    }
}

footer {
    background-color: #4894dd;
    color: white;
    min-width: 411px;
}

.workpad-copyright{
  font-weight: 900;
  font-size: 1em;
}

.footer-link{
  color: white;
}